<a href="https://colab.research.google.com/github/Navathamarkeeri/PROJECT/blob/python/HIT719_DAY1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is phyton UI

In [ ]:
var1 =input ("Hi plese give me the input")

Hi plese give me the input123

In [ ]:
[ ] # input Data
variable_name = input("Enter your input:")

Enter your input:123

In [ ]:
variable_name

'123'

In [ ]:
print(variable_name,"12")

123 12

In [ ]:
# In the next step we are printing the output
print("Variable Value is:", variable_name)

Variable Value is: 123

In [ ]:
# python has an indentation feature
print(variable_name)

123

variables are dynamically typed

In [ ]:
cab = 'ola'
CAB = "olal"
_cost = 100.6

In [ ]:
cab = 'ola'

In [ ]:
int(99.99999)

99

In [ ]:
# Original code:
# type(cost1)

# Replace with:
type(_cost)  # If you intended to use the '_cost' variable.
# OR
cost1 = 10  # Assign a value to 'cost1' before using it.
type(cost1)

int

data types

In [ ]:
x = 12
y = 11

# x = 12.3
# y = 11.2
print(x,y)
z=x+y

#Basic Operations
print("add x and y is:",z)
print("sub x and y is:",(x-y))
print("mul x and y is:",(x*y))
print("div x and y is:",(x/y))
print("Modulus x and y is:",(x%y))
print("power x to y is:",(x++y))

12 11
add x and y is: 23
sub x and y is: 1
mul x and y is: 132
div x and y is: 1.0909090909090908
Modulus x and y is: 1
power x to y is: 23

boolean ; these are used to represent logical operations 1. true ,2.false

In [ ]:
x = 1
y = 2
w,z = 1,2
a = True
b = False

# Basic Operations
print('x==y : ',x==y)
print('x!=y : ',x!=y)
print('x<y : ',x<y)
print('x>y : ',x>y)
print('x<=y : ',x<=y)
print('x>=y : ',x>=y)
print ('y==z : ',y==z)
print ('w==z : ',w==z)
print ('a==b : ',a==b)

print ('a and b :' ,a and b)
print ('a or b :',a or b)
print ('not a :',not a)

x==y :  False
x!=y :  True
x<y :  True
x>y :  False
x<=y :  True
x>=y :  False
y==z :  True
w==z :  False
a==b :  False
a and b : False
a or b : True
not a : False

STRING: this is used to represent the sequence of character

In [ ]:
from os import replace
s1 = 'Hi this is a string data'

# # Basic Operations
print("initial string:",s1)
print("first 2 chars string:",s1[:2])
print("last 3 chars string:",s1[-3:1])
print("substracting 4 to 8 chars string:",s1[3:7])
print("string length:",len(s1))
print("string in upper case:",s1.upper())
print("string in lower case:",s1.lower())
print("Replace substring:",s1.replace('','-'))
print("contains substring Hi:", ("Hi" in s1))
print("contat substring user:",(s1+"user"))

initial string: Hi this is a string data
first 2 chars string: Hi
last 3 chars string:
substracting 4 to 8 chars string: this
string length: 24
string in upper case: HI THIS IS A STRING DATA
string in lower case: hi this is a string data
Replace substring: -H-i- -t-h-i-s- -i-s- -a- -s-t-r-i-n-g- -d-a-t-a-
contains substring Hi: True
contat substring user: Hi this is a string datauser

list : this is used to store a ordered sequence of multiple elements

In [ ]:
l1 = [100,200,250,300,350]

In [ ]:
# syntax
# list [] or li = []
l1 = [100,200,250,300,350]
print("Initial list:",l1)
# Length
len1 = len(l1)
print("Length of list:",len1)

# Access
print("1st element of list:",l1[0])
print("from 2nd to 3rd element of list:",l1[1:3])
print("last element of list:",l1[-1])

# Adding elements
# 1. Append elements
l1.append(10)
print("Append 10 to the list:",l1)

# 2. Insert elements
l1.insert(1,50)
print("insert 50 at pos. 1:",l1)

# 3. Concatenation elements
l1 = l1 + [11,12]
print("concatenate 2 lists:,l1")

# removing elements
l1.remove(300)
print("remove 300 from list:",l1)

# sort elements
l1.sort()
print("sort list:",l1)

# contain element
print("whether  list contains 10:",(10 in l1))

Initial list: [100, 200, 250, 300, 350]
Length of list: 5
1st element of list: 100
from 2nd to 3rd element of list: [200, 250]
last element of list: 350
Append 10 to the list: [100, 200, 250, 300, 350, 10]
insert 50 at pos. 1: [100, 50, 200, 250, 300, 350, 10]
concatenate 2 lists:,l1
remove 300 from list: [100, 50, 200, 250, 350, 10, 11, 12]
sort list: [10, 11, 12, 50, 100, 200, 250, 350]
whether  list contains 10: True

In [ ]:
# syntax
# set1 = {} or set 1 = {[]} or set(list)
set1 = {"patient 1","patient 2","patient 3" "patient 4"}
print("Initial set:",set1)
print("Length of initial set:",len(set1))

#unique elements in a list
list1 = ["patient1","patient2","patient3","patient2","patient3","patient1","patient2"]
set2 = set(list1)
print("unique elements in a list:",set2)

# substract 2 sets
set3= set1-set2
print("difference between 2 sets:",set3)

Initial set: {'patient 1', 'patient 3patient 4', 'patient 2'}
Length of initial set: 3
unique elements in a list: {'patient1', 'patient3', 'patient2'}
difference between 2 sets: {'patient 3patient 4', 'patient 1', 'patient 2'}

dictonary : this is used to create key value pairs where each key is unique

In [ ]:
# syntax
# dict1 = {"":"","":""}

dict_age = {"patient 1":10,"patient 2":20,"patient 3":30}

# Acess Keys
print("keys are:",dict_age.keys())

# Acess Values
print("values are:",dict_age.values())

# Acess value based on key
print("Age of patient 1 is:",dict_age['patient 1'])

keys are: dict_keys(['patient 1', 'patient 2', 'patient 3'])
values are: dict_values([10, 20, 30])
Age of patient 1 is: 10

tuples ;this is used to store ordered set of immutable elements

In [ ]:
# Example tuple representing patient information (name, age,gender)
patient1 = ("patient1:",30, "male")
patient2 = ("Alice smith",40, "female")

#Access
print("Age of patient1:",patient1[1])

# unpacking
p1_name,p1_age,p1_gender = patient1
print("Name of patient1:",p1_name)

Age of patient1: 30
Name of patient1: patient1:

In [ ]:
patient2

('Alice smith', 40, 'female')

In [ ]:
patient1[0]

'patient1:'